{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<section>
<div class="index_content" id="noticias">
	<div class="content_margin_noticas">
		<div class="align_form" id="align_form">
		<form id="formulario_registro_adaptado" action="" method="post">{% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary btn-block" value="Confirmar">REGISTRARSE</button>
          <br><br>¿Ya estás registrado? <i><a href="{% url 'login' %}">¡Ingresá!</i></a>
        </form>
		</div>
	</div>
</div>
</section>
{% endblock %}