{% extends 'base_noticias.html' %}
{% load static %}

{% block contenido %}

<br><br>
<div class="main_div">

	<h1>DETALLE EVENTO</h1>
	<br>

	<h2>{{ object.titulo }}</h2>
				
		<p>CATEGORIA: {{ object.categoria.nombre }}</p>
		<p>CUERPO: {{ object.detalle }}</p>
        <p>Modalidad: {{ object.modalidad.nombre }}</p>
        <p>Costo: {{ object.costo.nombre }}</p>
        <p>Lugar: {{ object.lugar }}</p>
        <p>Fecha: {{ object.fecha }}</p>

		{% if n.imagen %}
			<img src="{{ object.imagen.url }}" width="100px" height="100px">
		{% endif %}


{% endblock contenido %}