{% extends 'base_secciones.html' %}
{% load static %}

{% block contenido %}

<div class="content_noticia_detalle" id="noticias">
	<div class="content_margin_noticas">
		<div class="contenedor_noticia">
			<div class="imagen_noticia">
				{% if object.imagen %}
					<img src="{{ object.imagen.url }}">
				{% endif %}
			</div>
			<div class="autor_categoria_detalle"><i><b>{{ object.categoria.nombre }}</b></i></p></div>

			<div class="titulo_detalle">{{object.titulo}}</div>

			<div class="cuerpo_detalle">{{ object.detalle }}</div>

			<div id="detalles_evento">
				Modalidad: <b>{{ object.modalidad.nombre }}</b><br><br>
				Costo: <b>{{ object.costo.nombre }}</b><br><br>
				Lugar: <b>{{ object.lugar }}</b><br><br>
				Fecha: <b>{{ object.fecha }}</b>
			</div>

			{% if object.autor %}
			<div class="autor_categoria_detalle">Por: <b>{{ object.autor }}</b></div>
			{% endif %}

		</div>
	</div>
</div>

{% endblock contenido %}
