{% extends 'base_secciones.html' %}
{% load static %}

{% block contenido %}
<section>	
	
	<div class="index_content_listas" id="noticias">
		<div class="content_margin_noticas_listas">
		
		<form id="form_filtros" action="." method="GET">

				{{ form.categoria }}
				<button id="boton-filtrar" class="boton-filtrar" type="submit"><img src="{%  static 'img/lupa.png' %}"></button>
		</form>		

		{% for n in eventos %}
			<a href="{% url 'eventos:evento_detail' n.pk %}"><div class="outstanding">
				<div id="img_news">{% if n.imagen %}<img src="{{ n.imagen.url }}">{% endif %}</div>
				<div id="fecha_evento"><b>Realiza: <i>{{ n.fecha }}</i></b></div>
				<div id="title_news">{{ n.titulo }}</div>
			</div></a>
		{% endfor %}

	</div>
</div>

</section> <!--fin section-->
{% endblock contenido %}