# Boton de noticias

<a href="{% url 'noticias:noticia_detail' n.pk %}">
    {% if n.imagen %}
    <img class="img-fluid" src="{{ n.imagen.url }}" width="100px" height="100px">
    {% endif %}
    <h3 class="name">{{ n.titulo }}</h3>
</a>

# Parte de las noticias en el inicio que tienen que aparecer 3

{% for n in notis %}
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item" style="background: rgba(255,255,255,0.35);">
                    <a href="{% url 'noticias:noticia_detail' n.pk %}"><img class="img-fluid" src="{{ n.imagen.url }}" width="100px" height="100px"></a>
                    <h3 class="name">{{ n.titulo }}</h3>
                    <p class="description" style="color: rgb(0,0,0);background: rgba(255,255,255,0);border-radius: 8px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;border-top-left-radius: 10;border-top-right-radius: 10;border-color: rgb(0,0,0);">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
{% endfor %}