{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>BDA Chaco</title>

	<meta name="description" content="Practica para el proyecto de informatorio">
	<meta name="keywords" content="reducir, reciclar, reutilizar">

	<link rel="stylesheet" href="{% static 'css/estilos.css' %}" type="text/css"/> <!--Estilos general-->
    
    <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

	<link rel="icon" type="image/x-icon" href="{% static 'img/rrr_ico.ico' %}"/>
</head>

<body>
<header>
	<div class="container">
		<div class="logo_header"><img src="{% static 'img/png_lg.png' %}"></div>
		<div class="menu" id="menu">
			
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="{% url 'noticias:listar_noticias' %}">Noticias</a></li>
				<li><a href="{% url 'eventos:listar_eventos' %}">Eventos</a></li>
				<li><a href="#about_us">Nosotros</a></li>
				<li><a href="#contact_us">Contacto</a></li>
			</ul>
				<!--revisar caso de login-->
				{% if user.is_authenticated %}
				<span>HOLA {{user.username}}!!</span>
				<a href="{% url 'logout' %}">LOGOUT</a>
				{% else %}
				<a href="{% url 'login' %}">LOGIN</a>
				<a href="{% url 'usuarios:registro' %}">REGISTRARSE</a>
				{% endif %}
				<!--logout-->

		</div>
	</div>
</header><!--fin header-->
		{% block contenido %}

        {% endblock contenido %}

</body>
</html>
