{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Botella de Amor Resistencia</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/rrr_ico.ico' %}"/>
    <meta name="description" content="Practica para el proyecto de informatorio">
    <meta name="keywords" content="reducir, reciclar, reutilizar">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{%  static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="{%  static '/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%  static '/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{%  static '/css/Article-List.css' %}">
    <link rel="stylesheet" href="{%  static '/css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{%  static '/css/Social-Icons.css' %}">

</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav" style="background: rgba(0,0,0,0);border-color: rgba(255,255,255,0);padding: 0;margin-top: 0px;margin-left: 0;">
        <div class="container"><img class="img-fluid" src="{% static '/img/bootlew.gif' %}" style="height: 80px;margin: 0;transform: translate(-18px);margin-top: 10px;"><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse text-end" id="navbarResponsive" style="color: rgb(255,255,255);margin-top: 0;">
                <ul class="navbar-nav ms-auto" style="color: rgb(255,255,255);border-color: rgb(255,255,255);">
                    <li class="nav-item nav-link" style="background: rgba(255,255,255,0);"><a class="nav-link active" href="#main" style="color: #000000;background: rgba(255,255,255,0);">INICIO</a></li>
                    <li class="nav-item nav-link" style="color: #000000;"><a class="nav-link" href="#notice" style="color: #000000;">NOTICIAS</a></li>
                    <li class="nav-item nav-link" style="color: #000000;"><a class="nav-link" href="#nosotros" style="color: #000000;">NOSOTRAS</a></li>
                    <li class="nav-item nav-link" style="color: #000000;"><a class="nav-link ma" href="#map" style="color: #000000;">MAPA</a></li>
                    <li class="nav-item nav-link" style="color: #000000;"><a class="nav-link" href="#contact" style="color: #000000;">CONTACTO</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item nav-link" style="color: #000000;"><a class="nav-link" href="{% url 'logout' %}" style="color: #5cb219;">LOGOUT</a></li>
                    {% else %}
                    <li class="nav-item nav-link" style="color: #000000;"><a class="nav-link" href="{% url 'login' %}" style="color: #5cb219;">LOGIN</a></li>
                    <li class="nav-item nav-link" style="color: #000000;"><a class="nav-link" href="{% url 'usuarios:registro' %}" style="color: #5cb219;">REGISTRO</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('static/img/background_section3.jpg');">
        <div id="main" class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto"><img src="static/img/rec.png" style="filter: blur(0px) brightness(63%) hue-rotate(316deg) saturate(191%);opacity: 0.57;margin-top: 66px;">
                        <p class="text-center intro-text" style="color: rgb(0,0,0);margin-top: 29px;">Fomentamos reducir el consumo de plásticos de un solo uso&nbsp; Acopiamos botellas llenas para así poder ser recicladas.<br></p><a class="btn btn-link btn-circle" role="button" href="#about" style="color: rgb(0,0,0);border-color: rgb(0,0,0);"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% block contenido %}

{% endblock contenido %}

</body>

</html>