{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<section>
	<div class="index_content">
		<div class="content_margin">
			
			<a href="#"><div class="outstanding">
				<div id="img_news"></div>
				<div id="title_news">Titular de la noticia más actual</div>
			</div></a><!--noticias destacadas, esto se tiene que repetir solo-->

			<a href="#"><div class="outstanding">
				<div id="img_news"></div>
				<div id="title_news">Otro titular de la noticia</div>
			</div></a>

			<a href="#"><div class="outstanding">
				<div id="img_news"></div>
				<div id="title_news">Otro titular más</div>
			</div></a>

		</div>
	</div>
</section> <!--fin section-->

<section>
	
</section> <!--nosotros-->

<section>
	
</section> <!--contacto-->

{% endblock contenido %}