{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<br><br>
<div>Aca aparecen las noticias
	{% for n in notis %}
	<div class="noticias">
		<h2>{{ n.titulo }}</h2>
		<p>Categoria: {{ n.categoria.nombre }}</p>
		{% if n.autor %}
			<p>Autor: {{ n.autor }}</p>
			{% endif %}
		<p>Cuerpo: {{ n.cuerpo }}</p>
		{% if n.imagen %}
			<img src="{{ n.imagen.url }}" width="100px" height="100px">
		{% endif %}
		<a href="{% url 'noticias:noticia_detail' n.pk %}">VER MAS</a>
	{% endfor %}
	</div>
</div>
{% endblock contenido %}

