{% extends 'base_noticias.html' %}
{% load static %}

{% block contenido %}
<section>

	<h1>Filtros categoria</h1>
	<form action="." method="GET">
		<div>
			{{ formulario_filtro.categoria }}
			<button class="boton-filtrar" type="submit">
				Filtrar
			</button>
		</div>
	</form>	

	<h1>Filtros fecha</h1>
	<form action="." method="GET">
		<div>
			{{ formulario_fecha.fecha }}
			<button class="boton-filtrar" type="submit">
				Filtrar
			</button>
		</div>
	</form>

	<div class="index_content">
		<div class="content_margin_noticas">

			{% for n in notis %}
				<h2>{{ n.titulo }}</h2>
				<p>CATEGORIA: {{ n.categoria.nombre }}</p>
				<p>FECHA: {{ n.creado }}</p>
				{% if n.autor %}
					<p>AUTOR: {{ n.autor }}</p>
				{% endif %}

				<p>CUERPO: {{ n.cuerpo }}</p>

				{% if n.imagen %}
					<img src="{{ n.imagen.url }}" width="100px" height="100px">
				{% endif %}
				<a href="{% url 'noticias:noticia_detail' n.pk %}">VER MAS</a>
			{% endfor %}
		</div>
	</div>
</section> <!--fin section-->
{% endblock contenido %}