{% extends 'base_noticias.html' %}
{% load static %}

{% block contenido %}
<section>
	<div class="index_content_listas" id="noticias">
		<div class="content_margin_noticas_listas">
			<div class="filtro_categoria">
				<form id="form_filtros" action="." method="GET">
					{{ formulario_filtro.categoria }}
					<button id="boton-filtrar" class="boton-filtrar" type="submit"><img src="{%  static 'img/lupa.png' %}"></button>
				</form>
			</div>
			<div class="filtro_fecha">
				<form action="." method="GET">
					<div>
						{{ formulario_fecha.fecha }}
						<button class="boton-filtrar" type="submit">
							Filtrar
						</button>
					</div>
				</form>
			</div>

			{% for n in notis %}
				<a href="{% url 'noticias:noticia_detail' n.pk %}"><div class="outstanding">
					<div id="img_news">{% if n.imagen %}<img src="{{ n.imagen.url }}">{% endif %}</div>
					<div id="title_news">{{ n.titulo }}</div>
				</div></a>
				<p>CATEGORIA: {{ n.categoria.nombre }}</p>
				<p>FECHA: {{ n.creado }}</p>
				{% if n.autor %}
					<p>AUTOR: {{ n.autor }}</p>
				{% endif %}

				<p>CUERPO: {{ n.cuerpo }}</p>
			{% endfor %}

		</div>
	</div>
</section> <!--fin section-->
{% endblock contenido %}