{% extends 'base_noticias.html' %}
{% load static %}

{% block contenido %}
	
<br><br>
<div class="main_div">

	<h1>DETALLE NOTICIA</h1>
	<br>

	<h2>{{object.titulo}}</h2>
	<p>Categoria: {{ object.categoria.nombre }}</p>
	{% if object.autor %}
		<p>Autor: {{ object.autor }}</p>
	{% endif %}

	<p>Cuerpo: {{ object.cuerpo }}</p>

	{% if object.imagen %}
		<img src="{{ object.imagen.url }}" width="100px" height="100px">
	{% endif %}

	<h1>COMENTARIOS</h1><br>
	{% for x in object.obtener_mis_comentarios %}
		<b><p>{{x.usuario}}-->{{x.creado}}</p></b>
		
		<p>{{x.texto}}</p>
	{% endfor %}

	{% if user.is_authenticated %}

		<form method="POST" action="{% url 'noticias:agregar_comentario' object.pk %}">{% csrf_token %}
			<textarea rows="5" name="coment">
				
			</textarea>
			<button class="boton_comentar" type="submit">COMENTAR</button>
		</form>

	{% else %}

		<a class="boton_login" href="{% url 'login' %}">Comentar</a>

	{% endif %}

</div>

<style>

	.main_div{
		width: 55%;
		margin: 100px auto;
		background-color: aquamarine;
	}

	.boton_comentar{
		outline: none;
		border: none;
		padding: 10px;
		color: azure;
		background: black;
		border-radius: 5px;
		display: block;
		margin-right: 7px 0;
	}

	.boton_login{
		outline: none;
		border: none;
		padding: 10px;
		color: azure;
		background: black;
		border-radius: 5px;
		display: block;
		margin-right: 7px 0;
	}

</style>
	

{% endblock contenido %}
