<!--esto estaba en listar_noticias.html-->

<h1>Aca aparecen las noticias</h1>
    <br>
	{% for n in eventos %}
		<h2>{{ n.titulo }}</h2>
		<p>Categoria: {{ n.categoria.nombre }}</p>
		{% if n.autor %}
			<p>Autor: {{ n.autor }}</p>
			{% endif %}
		<p>Cuerpo: {{ n.cuerpo }}</p>
		{% if n.imagen %}
			<img src="{{ n.imagen.url }}" width="100px" height="100px">
		{% endif %}
		<a href="{% url 'noticias:noticia_detail' n.pk %}">VER MAS</a>
	{% endfor %}

<!--y esto otro esta en noticia_detail.html-->

<h1>DETALLE NOTICIA</h1>
	<br>

	<h2>{{object.titulo}}</h2>
	<p>Categoria: {{ object.categoria.nombre }}</p>
	{% if object.autor %}
		<p>Autor: {{ object.autor }}</p>
	{% endif %}

	<p>Cuerpo: {{ object.cuerpo }}</p>

	{% if object.imagen %}
		<img src="{{ object.imagen.url }}" width="100px" height="100px">
	{% endif %}
	
	<br>
	<br>
	<h1>COMENTARIOS.....</h1>
		<input type="text" name="">
		<br><br><br>
	
<!--formularios-->

<form action="." method="GET">
	<div class="form-filter">
		<div class="input-filter">
			<input class="form-control" type="search" placeholder="Categoria"> <!--tipo busqueda-->
			<span class="a">
				<div class="input-text bg-transparent">
					<i class="fa-solid fa-magnifying-glass"></i>
				</div>
			</span>
		</div>
	</div>

	<div class="form-filter">
		<div class="input-filter">
			<input class="form-control" type="date" placeholder="Categoria"> <!--tipo calendario-->
			<span class="a">
				<div class="input-text bg-transparent">
					<i class="fa-solid fa-magnifying-glass"></i>
				</div>
			</span>
		</div>
	</div>